*{
    margin : 0;
    padding : 0;
}
html
{
    scroll-behavior: smooth;
}

.logo
{
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo img
{
    width:5%;
    height:10% ;
    border:1px solid black;
    border-radius: 3px;
}

.navbar
{
    display:flex;
    padding:0px 50px;
    justify-content: center;
    position: sticky;
    top:0;
    cursor: pointer;
    height:auto;
}

.nav-list
{
    width:70%;
    display: flex;
    align-items: center;
}

.nav-list li
{
    list-style: none;
    padding: 30px 0px;
}


.nav-list li a
{
    text-decoration: none;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
    padding: 0px 30px;
}

.nav-list li a:hover
{
    text-decoration: none;
    color: black;    
}

.bgnav
{
background-color:darkslategray;
}
.background
{
    
    background-color:whitesmoke;
    background-size: cover;
}

.box-main
{
    height: 100%;
    max-width: 60%;
    margin: auto;
    display:flex;
    justify-content: center;
    align-items: center;
    color:brown ;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

.secone
{
    height: 700px;
}

.firsthalf
{
    width:70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 5px;
    
}
.secondhalf
{
    width:30%;
    margin: auto;
    padding: 40px 70px;
}

.secondhalf img
{
    width: 150%;
    border: 3px solid black;
    margin:auto;
    border-radius: 10px;
    background-color: darkslategray;
}

.text-big
{
    font-size: 36px;
    color:lightseagreen;
}

.text-small
{
    padding: 15px 0px;
    color: slategray;
}

.B1
{
    display: flex;
    background: none;
    color: white;
    font-size: 17px;    
    border-radius: 10px;
    padding: 4px 12px;
    margin: 25px 0px;
    border:2px solid black;
    align-items: center;
}
.B1 a
{
    color:lightseagreen;
    align-items: center;
}

.sectwo
{
    height:600px;
    background-color: darkslategray;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
    align-items: center;
    justify-content: center;
    padding:15px 50px;
}
.secondhead
{
    color: whitesmoke;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: 50px 20px;
}
.bullets
{
    color: whitesmoke;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding:20px 50px;
}

.secthree
{
    height:600px;
    background-color: white;
    text-decoration: none;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin:auto;
    align-items: center;
    justify-content: center;
    padding:15px 50px;
}
.thirdhead
{
    color:teal;
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    width:100%;
    padding: 50px 20px;
}
.bulletslast
{
    color:darkslategray;
    font-size: 20px;
    display: flex;
    align-items: center;
    padding:20px 50px;
}


@media only screen and (max-width:1400px)
{
    .nav-list
    {
        width: 100%;
        flex-direction: column;
        padding: 0px 10px;
    }
    .navbar
    {
        height:312px;
        flex-direction: column;
        transition:all 0.4s ease-out;
    }
    .logo img
    {
        height:auto;    
    }
    .burger{
        position: absolute;
        cursor: pointer;
        right:20px;
        top:20px;
    }
    .line
    {
        width:25px;
        background-color: white;
        height:4px;
        margin: 4px;
    }
    .secone
    {
        height:130%;
    }
    .box-main
    {
        flex-direction: column-reverse;
        max-width: 100%;
    }
    .secondhalf img
    {   
        width: 100%;
        margin: auto;
    }
    .text-big
    {
        text-align: center;
    }
    .text-small
    {
        padding : 20px 2px;
        text-align: center;
    }
    .B1
    {
        align-items: center;
        margin: 25px auto;
    }
    .hid-resp
    {
        height: 70px;
    }
    .vis-resp
    {
        opacity:0;
    }
}